<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.spring.test.dao.UserDao"/>

    <bean id="userService" class="org.example.spring.test.service.UserService">
        <property name="uid" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>