<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.spring.test.dao.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="org.example.spring.test.service.UserService">
        <property name="uid" value="10002"/>
        <property name="company" value="?"/>
        <property name="location" value="?"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="org.example.spring.test.common.UserBeanFactoryPostProcessor"/>
    <bean class="org.example.spring.test.common.UserBeanPostProcessor"/>

</beans>